/* Custom CSS - The CSS properties in this stylesheet will over-write any original template styles if the same class names are used in addition to custom styles which can also be added. */

.wrapper p{
    clear: both;
}

/*Sidebar Styles*/
.important-info{
    text-align: center;
}
.important-info a{
    display: inline-block;
    margin: 0 auto 5px;
}
.important-info img{
    width: 100%;
    max-width: 180px;
    display: inline-block;
    margin: 0 auto;
}
.textwidget .location.contact .contact{
    width: 100%;
    text-align: center;
}

/*Social Icons*/
.social-icon{
   text-align:center;
}
.social-icon a{
    display: inline-block;
    margin: 0 10px;
}
.social-icon img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
