/******************************************************************
Stylesheet: Login Stylesheet
This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.
For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes
******************************************************************/
/* the form box */
/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/
body{
    background: #32608a url("../images/template2014/oceanside/body-background.png") repeat-y 50% 0%;
    background: -moz-linear-gradient(left, #32608a 0%, #a6c6df 50%, #32608a 100%);
    background: -webkit-linear-gradient(left, #32608a 0%, #a6c6df 50%, #32608a 100%);
    background: -o-linear-gradient(left, #32608a 0%, #a6c6df 50%, #32608a 100%);
    background: -ms-linear-gradient(left, #32608a 0%, #a6c6df 50%, #32608a 100%);
    background: linear-gradient(to right, #32608a 0%, #a6c6df 50%, #32608a 100%);
}
.login h1 a {
  background: url(../images/logo.png) no-repeat top center;
  /* make sure to replace this! */
  width: 326px;
  height: 80px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block;
}
.wp-core-ui .button-primary {
    background: #32608a;
    border-color: #a6c6df;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.wp-core-ui .button-primary:hover{
    background: #a6c6df;
    border-color: #32608a;
    color: #222;
}
.login #backtoblog a, .login #nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.login #backtoblog a:hover, .login #nav a:hover{
    color: white;
    text-decoration: underline;
}

/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/
/* login button*/
