.layout-transparent {
  background: url('../images/transparent.jpg') top / cover;
    background-size: 2048px;
    background-repeat: no-repeat;
}
.layout-transparent .mdl-layout_header,
.layout-transparent .mdl-layout_drawer-button {
  color: white;
}
img.logo{
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

div#About{
    margin-top: 200px;
}

.quote-divider{
    background: url(../images/Image1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-top: -75px;
}
.center{
    text-align: center;
}
.install i{
    font-size: 4em;
}
p.instructions{
    font-size: 14px;
    color: #888;
    font-style: italic;
}
.right {
    float: right;
}
#alert{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    background: #ff8080;
    color: white;
    border-bottom: solid 3px #ff0000;
    z-index: 999999;
}
#alert p{
    margin: 0;
}
.mdl-layout__container{
    margin-top: 37px;
}
