.layout-transparent {
  background: url('images/transparent.jpg') top / cover;
    background-size: 100%;
    background-repeat: no-repeat;
}
.layout-transparent .mdl-layout_header,
.layout-transparent .mdl-layout_drawer-button {
  color: white;
}

div#About{
    margin-top: 150px;
}
